h1 {
    color: white;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 1000%;
}

body {
    background-color: black; 
}

.header {
	background-image: url("./images/title.jpg");
	height: 1000px;
	width: 100%;
	background-size: contain;
	padding-top: 300px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #222;
    font: white;
}

.bio{
    background: black;
    font-size: 100%;
    color: white;
}

h2 {
    font-size: 400%;
}

.imgbio {
    height: 250%;
}

.early {
    background-image:url(./images/Manwithknife.jpg);
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
}

.imagearly {
    opacity: 0;
}

.textearly {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    color: white;
}
