h1 {
    color: white;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 14vw !important;
}

body {
    background-color: black !important; 
}

.header {
	background-image: url("./images/title.jpg");
	height: 1000px;
	width: 100%;
	background-size: contain;
	padding-top: 200px;
    border-radius: 4px;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    font-size: 2vw;
}

ul.nav li {
    flex-grow: 1;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #000;
    color: white;
}

h2 {
    font-size: 6vw;
}

.bio{
    background: black;
    font-size: 1.7vw;
    color: white;
    text-align: justify;
    margin-top: 5%;
}

.imgbio {
    height: 100%;
    border-radius: 4px;
}

.early {
    margin-top: 5%;
}

.imagearly{
    width: 100%;
    border-radius: 4px;
}

.textearly {
    background: black;
    font-size: 2.5vw;
    color: white;
    text-align: justify;
}

.drip {
    margin-top: 5%;
    background: black;
    font-size: 1.5vw;
    color: white;
    text-align: justify; 
}

.contact {
    margin-top: 5%;
    font-size: 1.5vw;
    color: white;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}

input[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.social-media {
    padding: 30px;
}

.social-media a{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    display: table;
}

.social-media a{
    display: inline;
    margin: 15px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

@media (min-width: 1000px) {

}

