h1 {
    color: white;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 1000%;
}

body {
    background-color: black; 
}

.header {
	background-image: url("./images/title.jpg");
	height: 1000px;
	width: 100%;
	background-size: contain;
	padding-top: 300px;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
}

ul.nav li {
    flex-grow: 1;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #222;
    font: white;
}

.bio{
    background: black;
    font-size: 120%;
    color: white;
    text-align: justify;
}

h2 {
    font-size: 400%;
}

.imgbio {
    height: 100%;
}

.imagearly{
    width: 100%;
}

.textearly {
    background: black;
    font-size: 150%;
    color: white;
    text-align: justify;
}
